.form__name {
    display: none;
    width: 100%;
    border: none;
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 28px;
}