.form__save-button {
    width: 100%;
    border-radius: 2px;
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    height: 50px;
}