.form__exit-button {
    display: flex;
    position: absolute;
    top: -48px;
    right: -48px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .form__exit-button {
        top: -54px;
        right: -10px;
    }
}